<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Error</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<section class="blog_area section_padding">
    <div class="container">
        <center>
            <h1 class="text-danger">
                Error : @((string)ViewBag.err)
            </h1>
        </center>
    </div>
</section>